.AddForm{

}

.inputBlock{
    display: flex;
    flex-direction: column;
}

.input {
    border: 1px solid darkgray !important;
    border-radius: 6px;
    width: 300px;
    height: 30px;
    padding: 5px 10px;
}

textarea{
    width: 300px;
    height: 200px;
    border-radius: 6px;
    padding: 10px;
    outline: none;
}

label{
    margin: 15px 0;
}

.AddFormButtons{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button{
    font-size: 16px;
    width: 120px;
    height: 25px;
    background-color: green;
    color: white;
    border-radius: 6px;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}

button[type="reset"]{
    background-color: red;
}



