

th{
    width: 240px;
}

th:nth-last-child(1){
    width: 120px;
}

th:nth-last-child(2){
    width: 120px;
}
td{
    text-align: center;
}

.name{
    text-align: left;
}

button{
    font-size: 16px;
    width: 100%;
    height: 25px;
    background-color: green;
    color: white;
}

button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.delete{
    background-color: red;
}

.AddLink{
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 80px;
}

.AddLink span{
    font-size: 24px;
}

.Plus{
    width: 15px;
    height: 15px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}

.line1{
    position: absolute;
    width: 15px;
    height: 3px;
    background-color: grey;
}
.line2{
    width: 15px;
    height: 3px;
    background-color: grey;
    transform: rotate(90deg);
}