
.main_table {
    border-collapse: collapse;
    border: 1px solid black;
}

.main_table p {
    padding: 10px;
}

.main_table thead {
    color: #fff;
    background: #2e82c3;
}

.main_table th {
    border-bottom: 1px solid black;
}

.main_table tbody tr {
    background-color: #cbdfef;
    color: #434955;
}

.main_table tbody tr:hover {
    background-color: #a2c3dd;
    transition-duration: 0.2s;
}

.main_table tbody th:nth-child(6) p {
    cursor: pointer;
}

.main_table tbody th:nth-child(6):hover p {
    color: white;
    transition-duration: 0.2s;
}

.main_table tbody th:nth-child(7) p {
    background-color: red;
    cursor: pointer;
}

.main_table tbody th:nth-child(7) p:hover {
    color: white;
    transition-duration: 0.2s;
}

.main_table .delete{
    margin: 10px;
}

.error{
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 5px solid red;
    font-size: 24px;
    color: red;
}

label{
    font-size: 22px;
    padding-right: 20px;
}

.addForm button{
    background-color: #a2c3dd;
    cursor: pointer;
    padding: 6px 15px;
    margin: 10px;
}
.addForm button:hover{
    background: #2e82c3;
    transition-duration: 0.2s;
}

