@import "common.css";

.form_row{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.form_input{
    padding: 10px;
    border: 1px solid black!important;
    margin-left: 20px;
}

button{
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    color: #003869;
    border: 3px solid #003869;
}

button:nth-child(2){
    margin-left: 20px;
}

select{
    margin-left: 20px;
    width: 200px;
    padding: 10px;
}

.form_row_error{
    background: red;
    padding: 10px;
    margin-bottom: 30px;
}

.form_error{
    color: white;
    font-weight: bold;
}
table{

   border-collapse: collapse;
}
tr:nth-child(1){
    background: #cbdfef;
    color: #003869;
}

th{
    font-weight: lighter;
    border: 1px solid #003869;
    padding: 10px;
}
th:nth-child(5){
    cursor: pointer;
    color: greenyellow;
}
th:nth-child(6){
    cursor: pointer;
   color: hotpink;
}
th:nth-child(6):hover{
    transition: 600ms;
    background: hotpink;
    color: white;
}
.edit_link{
    font-weight: normal;
    text-decoration: none;
    color: greenyellow;
}

.error_message_row{
    color: red;
    margin-left: 20px;
    font-size: 20px;
}

.error_message{
    display: none;
}


